<mat-toolbar>Cadastrar Curso</mat-toolbar>
<ng-template #carregando>
  <mat-spinner></mat-spinner>
</ng-template>
<div class="component-container">
  <form class="form-padrao" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && onSubmit()" novalidate>
        <mat-form-field>
            <input matInput placeholder="Nome" formControlName="nome" required autocomplete="off">
            <mat-error>Campo é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Qtd. de Semestres" formControlName="duracaoEmSemestres" required autocomplete="off">
          <mat-error>Campo é obrigatório</mat-error>
        </mat-form-field>

        <mat-toolbar>Cadastrar Ofertas</mat-toolbar>

        <div formArrayName="ofertas">
          <div *ngFor="let oferta of ofertas.controls; let i=index">
            <div [formGroupName]="i">
              <mat-form-field>
                <input matInput placeholder="Semestre" formControlName="semestre" required autocomplete="off">
                <mat-error>Campo é obrigatório</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Disciplinas" multiple formControlName="id" required>
                  <mat-option *ngFor="let disciplina of disciplinas$ | async" [value]="disciplina.id">{{disciplina.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      
        <button mat-mini-fab (click)="addOferta()">
          <mat-icon>add</mat-icon>
        </button>
        <div class="linha-botoes">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Salvar</button>
            <button type="button" mat-raised-button routerLink="/cursos">Cancelar</button>
        </div>
  </form>
</div>
