<mat-toolbar>{{(usuario && usuario.id) ? 'Editar Usuario' : 'Cadastrar Usuário'}}</mat-toolbar>
<div class="component-container">
  <form class="form-padrao" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && salvar()"
        novalidate>
        <mat-form-field >
            <input matInput readonly placeholder="Id" formControlName="id" autocomplete="off">
            <mat-error>Campo é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome" formControlName="nome" autocomplete="off">
            <mat-error>Campo é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Matrícula" formControlName="matricula" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Perfil" formControlName="perfilId" required>
                <mat-option *ngFor="let perfil of perfis$ | async" [value]="perfil.id">{{perfil.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Curso" formControlName="cursoId">
                <mat-option *ngFor="let curso of cursos$ | async" [value]="curso.id">{{curso.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Senha" formControlName="senha" required autocomplete="off">
            <mat-error>Campo é obrigatório</mat-error>
        </mat-form-field>
        <div class="linha-botoes">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Salvar</button>
            <button type="button" mat-raised-button routerLink="/usuarios">Cancelar</button>
        </div>
    </form>
</div>